@page "/about"

<body>
    <div class="container-fluid m-0 p-0">
        <div class="row ml-4 mt-4">
            <div class="col-lg-3 col-md-3 col-sm-12 mb-4">
                <p class="title">
                    gain the attention<br /> your art deserves
                </p>
            </div>

            <div class="col-lg-9 col-md-7 col-sm-12 mb-4">

                <div class="row justify-content-md-center mb-3">
                    <div class="col-1 mr-4">
                        <i class="bi bi-heart-fill" style="font-size: 3rem; color: rgba(191, 93, 74, 1);"></i>
                    </div>

                    <div class="col-9">

                        <p class="subtitle">
                            Passion & Storytelling
                        </p>

                        <p>we are dedicated to spread your story</p>

                    </div>
                </div>

                <div class="row justify-content-md-center mb-3">
                    <div class="col-1 mr-4">
                        <i class="bi bi-globe" style="font-size: 3rem; color: rgba(191, 93, 74, 1);"></i>
                    </div>
                    <div class="col-9">

                        <p class="subtitle">
                            International Ambition
                        </p>

                        <p>show your work to the world</p>

                    </div>
                </div>

                <div class="row justify-content-md-center mb-3">
                    <div class="col-1 mr-4">
                        <i class="bi bi-coin" style="font-size: 3rem; color: rgba(191, 93, 74, 1);"></i>
                    </div>
                    <div class="col-9">

                        <p class="subtitle">
                            Sell your work
                        </p>

                        <p>our platform makes it easy to sell and auction your work</p>

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body" style="padding:25px">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 mb-4 ml-4">
                            <p class="title">
                                About hooop
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                            Jean-Marie Waelkens works with wood every day, as an artisan table maker. He makes tables fitting his customers taste. At night, he puts in an imaginary world, in which he turns wooden dolls and sculptures. He calls them hooop dolls. His visionary way of looking at wood makes him a wood reader.
                            <br />

                            Just as he creates for himself, an escape from everyday life, he wants to create an inspiring world for others. He wants to help everyone believe that dreams are more real than the limitations of everyday reality.
                            <br />
                            You might recognize Jean-Marie from his appearance on the program "Vive Le Vélo". He donated to them 12 tables which were made for the program. At the auction of such a table in 2011, 227,599 euros were raised which went entirely to the Make a Wish foundation.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>